<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <table>
    <tr>
      <td>
        <h1>datos personales:</h1>
        </li>
      </td>
      <td>
        <h3>nombre: <%= nombre %>
        </h3>
      </td>
      <td>
        <h3>apellido: <%= apellido %>
        </h3>
      </td>
      <td>
        <h3>cedula: <%= cedula %>
        </h3>
      </td>
      <td>
        <h3> seccion: <%= seccion %>
        </h3>
      </td>
    </tr>
  </table>
</body>

</html>